<h1>Список локаций</h1>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Поиск ближайших локаций", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Адрес</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.address %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= link_to 'Показать', location %></td>
        <td><%= link_to 'Редактировать', edit_location_path(location) %></td>
        <td><%= link_to 'Удалить', location, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая локация', new_location_path %>
